html
	box-sizing: border-box
	overflow: auto

*,
*:before,
*:after
	box-sizing: inherit

html,
body
	min-width: 320px
	min-height: 100vh

body
	overflow: hidden

.no--scroll
	overflow: hidden

.wrapper
	width: 100%
	min-height: 100vh
	display: flex
	flex-direction: column

.main
	flex: 1 1 100%

.container
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto

svg
	fill: currentColor !important
	pointer-events: none

.svgSprite
	position: absolute
	left: 0
	top: 0
	height: 0
	width: 0
	visibility: hidden

img
	display: block
	max-width: 100%
	height: auto

ul
	padding-left: 0