@use "../abstracts/_font" as font

html,
body
	line-height: 1.5
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font:
		weight: 400
		size: font.$text
		family: font.$family

h1,
h2,
h3,
h4,
h5,
h6
	line-height: 1.5
	font-weight: 800
	margin: 0

p,
ul,
ol,
li
	margin: 0


a
	text-decoration: none

.heading

	&--xl
		font-size: font.$h1
	&--lg
		font-size: font.$h2	
	&--md
		font-size: font.$h3
	&--sm
		font-size: font.$h4
	&--xs
		font-size: font.$h5