.svg-arrow-sn {
	width: 14px;
	height: 10px;
}

.svg-briefcase-sn {
	width: 32px;
	height: 26px;
}

.svg-caret-sn {
	width: 12px;
	height: 8px;
}

.svg-check-sn {
	width: 18px;
	height: 14px;
}

.svg-compass-sn {
	width: 23px;
	height: 24px;
}

.svg-config-sn {
	width: 32px;
	height: 32px;
}

.svg-experience-sn {
	width: 48px;
	height: 48px;
}

.svg-facebook-sn {
	width: 10px;
	height: 16px;
}

.svg-gift-sn {
	width: 32px;
	height: 32px;
}

.svg-instagram-sn {
	width: 16px;
	height: 16px;
}

.svg-location-sn {
	width: 24px;
	height: 32px;
}

.svg-logo-sn {
	width: 46px;
	height: 44px;
}

.svg-mail-sn {
	width: 24px;
	height: 18px;
}

.svg-minus-sn {
	width: 8px;
	height: 2px;
}

.svg-phone-sn {
	width: 24px;
	height: 24px;
}

.svg-play-sn {
	width: 21px;
	height: 30px;
}

.svg-plus-sn {
	width: 8px;
	height: 8px;
}

.svg-plus-2-sn {
	width: 12px;
	height: 12px;
}

.svg-presentation-sn {
	width: 32px;
	height: 32px;
}

.svg-quote-sn {
	width: 100px;
	height: 80px;
}

.svg-quote-2-sn {
	width: 48px;
	height: 36px;
}

.svg-ruler-sn {
	width: 32px;
	height: 32px;
}

.svg-star-sn {
	width: 24px;
	height: 22px;
}

.svg-twitter-sn {
	width: 16px;
	height: 14px;
}