section.webflow
    .container
        .webflow__inner
            .webflow__media
                +retina(
                    '/img/about/',
                    'webflow.png',
                    'webflow@2x.png',
                    566,
                    585,
                    'Website Without The Dev Time')
            .webflow__content
                .section-title.webflow__title
                    .pre-title
                        span ABOUT WEBFLOW
                    .title
                        h4.heading.heading--lg Website Without The Dev Time
                .webflow__subtitle
                    span Provides a full service range
                .webflow__text
                    p Ability to put themselves in the merchant's shoes. It is meant to partner on the long run, and work as an extension of the merchant's team.
                .webflow__action
                    a(href="#").btn.btn--primary ABOUT WEBFLOW