section.features
    .container
        .features__inner
            .features__left
                .section-title.features__title
                    .pre-title
                        span FEATURES
                    .title
                        h2.heading.heading--lg Custom Web Design
                .features__read-more
                    a(href="#") Read More
            .features__right
                .features__card.features--vertical
                    .features__card-icon
                        +icon('ruler')
                    .features__card-title
                        h4.heading.heading--sm Professional
                    .features__card-desc
                        p Full service range including technical skills, design.
                .features__card.features--horizontal
                    .features__card-title
                        h4.heading.heading--sm Accessibility
                    .features__card-desc
                        p Business understanding, ability to put themselves.