section.lead.lead--webflow
    .container
        .lead__inner
            .lead__content
                .section-title.lead__title
                    .pre-title
                        span WEBFLOW EXPERT
                    .title
                        h1.heading.heading--xl Making Digital Products
                .lead__desc
                    p Agency provides a full service range including technical skills, design, business understanding.
                .lead__actions
                    a(href="#").btn EXPLORE WORK
                    a(href="#") Contact Me
            .lead__media
                +retina(
                    '/img/lead/',
                    'webflow.png',
                    'webflow@2x.png',
                    570,
                    602,
                    'Making Digital Products',)