footer.footer#footer
    .container
        .footer__inner
            .footer__top
                .footer__left
                    .logo.footer__logo
                        a(href="#") Webflow
                .footer__center
                    .footer__menu
                        .footer__menu-title
                            h5.heading.heading--xs MENU
                        ul
                            li
                                a(href="#") About
                            li
                                a(href="#") Services
                            li
                                a(href="#") Blog
                            li
                                a(href="#") Contact
                    .footer__menu
                        .footer__menu-title
                            h5.heading.heading--xs SERVICE
                        ul
                            li
                                a(href="#") Design
                            li
                                a(href="#") Development
                            li
                                a(href="#") Marketing
                            li
                                a(href="#") See More
                .footer__right
                    ul.footer__socials
                        li
                            a(href="#")
                                +icon('facebook')
                        li
                            a(href="#")
                                +icon('twitter')
                        li
                            a(href="#")
                                +icon('instagram')
            .footer__bottom
                .footer__copyright
                    p Copyright © 2022 Laaqiq. All Rights Reserved.
                .footer__terms
                    ul
                        li
                            a(href="#") Terms of Use
                        li
                            a(href="#") Privacy Policy