extend pug/layout/_base.pug

block head
    +meta('title', 'Some meta title')

block title
    title Webflox Expert

block header
    include pug/layout/_header
block content
    include pug/sections/webflow/lead
    include pug/sections/webflow/features
    include pug/sections/webflow/about-webflow
block footer
    include pug/layout/_footer